ul
{
		list-style-type:none;
		padding-top:3em;
		background-color:aqua;
		display:flex;
		justify-content:space-between;
}
li{
		display:inline;
		background-color:red;
		padding:15px 55px;
}
#segundo{
	list-style-type:none;
		padding-top:3em;
		background-color:aqua;
		display:flex;
		justify-content:space-between;
		flex-direction:row-reverse;
}