ul
{
		list-style-type:none;
		padding-top:3em;
		background-color:aqua;
		display:flex;
		flex-direction:column-reverse;
		row-gap:3em;
		align-items:center;
		justify-content:space-between;
}
li{
		background-color:red;
		width:5%;
		text-align:center;
		padding:15px 55px;
}